<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title></title>
</head>
<body>
{% extends 'temp/user_home.html' %}
{% block base %}
   <center>
  <form method="post">
      {% csrf_token %}
      <h3 style="color:Green;font-family: cursive;padding-bottom: 20px;">Change Username</h3>

    <table>
      <tr>

        <td><input type="text-area" name="username" style="height:60px;"></td>
       </tr>
        <td align="center"><input type="submit" name="save" value="Save" style="color: blue;border: 2px solid #09099e; background: transparent;padding: 1px;width: 88px;margin: 20px;"></td>
       </tr>
    </table>

</form>
</center>
{% endblock %}
</body>
</html>