<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
{% extends 'temp/login_user.html' %}
{% block base %}
	<center>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
  	 <h4>USER REGISTRATION</h4>
  	 <table>
  	 	<tr>
  	 		<td>Username</td>
  	 		<td><input type="text" name="username" class="form-control" placeholder="Username" required="" ></td>
       </tr>
       <tr>
               <td>GENDER</td>
           <td><input type="radio" name="gender" value="male" >Male
               <input type="radio" name="gender" value="female" >Female
               <input type="radio" name="gender" value="other" >Other</td>

       </tr>
       <tr>
  	 		<td>DOB</td>
  	 		<td><input type="date" name="dob" required=""></td>
       </tr>
       <tr>
               <td>PHNO</td>
               <td><input type="tel" name="phno" required=""></td>
       </tr>
       <tr>
               <td>EMAIL</td>
               <td><input type="text" name="email" required=""></td>
       </tr>
       <tr>
               <td>PASSWORD</td>
               <td><input type="password" name="password" required=""></td>
       </tr>
       <tr>
       <td> PHOTO</td>
       <td> <input type="file" name="photo" required=""></td>
       </tr>
       <tr></tr>
       <tr>
  	 		<td></td>
  	 		<td><input type="submit" name="register" class="btn btn-dark" value="REGISTER"></td>
       </tr>
  	 </table>

</form>
</center>
{% endblock %}
</body>
</html>




{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#	<title>Login V1</title>#}
{#	<meta charset="UTF-8">#}
{#	<meta name="viewport" content="width=device-width, initial-scale=1">#}
{#<!--===============================================================================================-->#}
{#	<link rel="icon" type="image/png" href="/static/Login_v1/images/icons/favicon.ico"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="/static/Login_v1/vendor/bootstrap/css/bootstrap.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="/static/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="/static/Login_v1/vendor/animate/animate.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="/static/Login_v1/vendor/css-hamburgers/hamburgers.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="/static/Login_v1/vendor/select2/select2.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="/static/Login_v1/css/util.css">#}
{#	<link rel="stylesheet" type="text/css" href="/static/Login_v1/css/main.css">#}
{#<!--===============================================================================================-->#}
{#</head>#}
{#<body>#}
{##}
{#	<div class="limiter">#}
{#		<div class="container-login100">#}
{#			<div class="wrap-login100">#}
{#				<div class="login100-pic js-tilt" data-tilt>#}
{#					<img src="/static/Login_v1/images/img-01.png" alt="IMG">#}
{##}
{#				</div>#}
{#				<form class="login100-form validate-form" method="post" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    {% block reg %}#}
{##}
{#					<span class="login100-form-title">#}
{#						Registration#}
{#					</span>#}
{##}
{#					<div class="wrap-input100 validate-input" data-validate = "Username is required: ex@abc.xyz">#}
{#						<input class="input100" type="text" name="username" placeholder="Username">#}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="fa fa-user" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}
{#                           <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">#}
{#						<input class="input100" type="text" name="email" placeholder="Email">#}
{#                            <select name="gender" class="input100">#}
{#                                <option value="">Select Gender</option>#}
{#                                <option value="male">Male</option>#}
{#                                <option>Female</option>#}
{#                                <option>Other</option>#}
{#                            </select>#}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="fa fa-male" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}
{#                        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">#}
{#						<input class="input100" type="text" name="email" placeholder="Email">#}
{#                            <select name="gen" class="input100">#}
{#                                <option>ggg</option>#}
{#                            </select>#}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="fa fa-envelope" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}
{##}
{#					<div class="wrap-input100 validate-input" data-validate = "Dob is required">#}
{#						<input class="input100" type="date" name="dob" placeholder="Password">#}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="fa fa-calendar" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}
{#                    <div class="wrap-input100 validate-input" data-validate = "Phone no is required">#}
{#						<input class="input100" type="tel" pattern="[0-9]{10}" name="phno" placeholder="Phone No">#}
{##}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="fa fa-phone" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}
{#                    <div class="wrap-input100 validate-input" data-validate = "Email is required">#}
{#						<input class="input100" type="text" name="email" placeholder="Email">#}
{##}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="fa fa-envelope" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}
{#                    <div class="wrap-input100 validate-input" data-validate = "password is required">#}
{#						<input class="input100" type="password" name="password" placeholder="Password">#}
{##}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="fa fa-lock" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}
{#                    <div class="wrap-input100 validate-input" data-validate = "Profile photo is required">#}
{#						<input class="input100" type="file" name="photo" placeholder="Profile photo" title="Profile photo" id="profile">#}
{##}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="ph" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}
{##}
{#					<div class="container-login100-form-btn">#}
{#						<button class="login100-form-btn" type="submit" name="register">#}
{#							Register#}
{#						</button>#}
{#                        <input class="login100-form-btn" type="submit" name="reg" value="Register">#}
{##}
{#					</div>#}
{##}
{#					<div class="text-center p-t-12">#}
{#						<span class="txt1">#}
{#							Forgot#}
{#						</span>#}
{#						<a class="txt2" href="#">#}
{#							Username / Password?#}
{#						</a>#}
{#					</div>#}
{##}
{#					<div class="text-center p-t-136">#}
{#                         Already have an account?#}
{#						<a class="txt2" href="/temp/login">#}
{#							Back#}
{#							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>#}
{#						</a>#}
{#					</div>#}
{#                                    {% endblock %}#}
{##}
{#				</form>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{##}
{##}
{##}
{##}
{#<!--===============================================================================================-->#}
{#	<script src="/static/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="/static/Login_v1/vendor/bootstrap/js/popper.js"></script>#}
{#	<script src="/static/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="/static/Login_v1/vendor/select2/select2.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="/static/Login_v1/vendor/tilt/tilt.jquery.min.js"></script>#}
{#	<script >#}
{#		$('.js-tilt').tilt({#}
{#			scale: 1.1#}
{#		})#}
{#	</script>#}
{#<!--===============================================================================================-->#}
{#	<script src="/static/Login_v1/js/main.js"></script>#}
{##}
{#</body>#}
{#</html>#}