{% extends 'temp/user_home.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
 <center>
  <form method="post">
  	 
  	 <table border="1">
  	 	<tr>
  	 		<td>NO.</td>
  	 		<td>USERNAME</td>
  	 		<td>GENDER</td>
  	 		<td>DOB</td>
  	 		<td>PHNO</td>
  	 		<td>EMAIL</td>
  	 		<td>PHOTO</td>
         
       </tr>
       <tr>
       	  <td></td>
       	  <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="">CHAT</a></td>       
       </tr>
   </table>

</form>
</center>
</body>
</html>
{% endblock %}